:root {
  --primary-grey-color: #757575;
  --primary-white-color: #ffffff;
  --secondary-black-color: #212121;
  --secondary-dakrgrey-color: rgba(47, 48, 58, 0.8);
  --secondary-lightgrey-color: #f5f4fa;
  --secondary-f-lightgrey-color: rgba(255, 255, 255, 0.6);
  --secondary-flightgrey-color: rgba(255, 255, 255, 0.4);
  --accent-blue-color: #2196f3;
}

body {
  color: var(--primary-grey-color);
  background: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-inline-start: 0px;
}

.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}
/* Шапка сайта */
.logo-header {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-parth-one {
  color: var(--accent-blue-color);
}
.logo-parth-two {
  color: var(--secondary-black-color);
}
.logo-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.page {
  color: var(--secondary-black-color);
}
.page:hover,
.page:focus {
  color: var(--accent-blue-color);
}
.page-current {
  color: var(--accent-blue-color);
}
.contact {
  color: var(--primary-grey-color);
}
.contact:hover {
  color: var(--accent-blue-color);
}

/* Герой */
.hero {
  background-color: var(--secondary-dakrgrey-color);
  text-align: center;
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0px;
  margin-bottom: 46px;
}
.hero-button {
  color: var(--primary-white-color);
  background: var(--accent-blue-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: none;
}

/* Наши преимущества */
.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits-title {
  color: var(--primary-white-color);
  margin-top: 0px;
  margin-bottom: 0px;
}
.benefits-subtitle {
  color: var(--secondary-black-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}
.benefits-text {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Чем мы занимаемся */
.directions {
  padding-bottom: 113px;
}
.directions-title {
  color: var(--secondary-black-color);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-top: 0px;
  margin-bottom: 50px;
}
.directions-subtitle {
  color: var(--primary-white-color);
  background: var(--secondary-dakrgrey-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
}

/* Наша команда */
.team {
  background: var(--secondary-lightgrey-color);
  padding-top: 75px;
  padding-bottom: 113px;
}
.team-title {
  color: var(--secondary-black-color);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-top: 0px;
  margin-bottom: 50px;
}
.team-subtitle {
  color: var(--secondary-black-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}
.social-link {
  color: var(--primary-grey-color);
}
.social-link:hover {
  color: var(--accent-blue-color);
}
.team-text {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 16px;
}
/* Наши клиенты */
.section-clients {
  padding-top: 75px;
  padding-bottom: 94px;
}
.clients {
  color: var(--secondary-black-color);
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-top: 0px;
  margin-bottom: 50px;
}
/* Наши работы */
.section-examples {
  padding-top: 94px;
  padding-bottom: 94px;
}
.examples {
  color: var(--primary-white-color);
  margin-top: 0px;
  margin-bottom: 0px;
}
.filter {
  margin-bottom: 50px;
}
.button {
  color: var(--secondary-black-color);
  background: var(--secondary-lightgrey-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  padding: 6px 22px;
  min-width: 73px;
  border: none;
  border-radius: 4px;
}
.button:hover {
  color: var(--primary-white-color);
  background: var(--accent-blue-color);
}
.button:focus {
  color: var(--primary-white-color);
  background: var(--accent-blue-color);
}
.examples-text {
  color: var(--primary-white-color);
  background: var(--accent-blue-color);
  font-size: 18px;
  line-height: 1.56;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 63px 24 px;
}
.examples-title {
  color: var(--secondary-black-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 4px;
}
.example-button {
  color: var(--primary-grey-color);
  font-size: 16px;
  line-height: 1.88;
  margin-top: 0px;
  margin-bottom: 20px;
}

/* Футер */
.footer {
  color: var(--primary-white-color);
  background: var(--secondary-dakrgrey-color);
  padding-top: 48px;
  padding-bottom: 21px;
}
.adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  text-decoration: none;
}
.logo-parth-three {
  color: var(--primary-white-color);
}
.invoke {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.adress-link {
  color: var(--secondary-f-lightgrey-color);
}
.footer .social-link {
  color: var(--primary-white-color);
}
.footer .social-link:hover {
  color: var(--accent-blue-color);
}
.autor {
  color: var(--secondary-flightgrey-color);
  font-size: 12px;
  line-height: 2;
  text-align: center;
}
